---
title: CashD
---
{% extends "layouts/_layout.html" %}

{% block content %}

	<div class="overlay">
		<h1 class="active">CashD</h1>
		<h1 class="nonactive">Mobile Application</h1>
	</div>
	
	<div class="container">
		<div class="project-title">
			<p class="year">2019</p>
			<p>Mobile Apllication</p>
		</div>
		<h1 class="project-name">CashD — get your payroll paid for you when it suits you</h1>

		<div class="project-concept">
			<img src="img/Ellipse.svg" alt="" class="bg rellax" data-rellax-speed="9">
			<img src="img/Group 7.png" alt="concept" class="img rellax" data-rellax-speed="1">
		</div>
	</div>

	<div class="comment">
		<div class="container">
			<p class="comment-text">It was a big deal to combine all clients needs and simple UI in one place. <br> We made a lot of prototyping, user testings, research and UX writing. <br> Working with a high amount of data and visuals is always challenging,<br> especially on mobile.
			</p>
			<img src="img/photo.png" alt="author" class="author">
		</div>
	</div>

	<div class="screens">
		<img src="img/screen1.png" alt="" class="screen">
		<img src="img/screen2.png" alt="" class="screen">
		<img src="img/screen3.png" alt="" class="screen">
	</div>

	<!-- The cursor element --> 
	<div class="cursor"></div>
	<div class="cursor2"></div>

{% endblock %}
